.content {
  grid-area: c;
  background-color: rgb(112, 108, 108);
  padding: 10px;
  justify-content: center;
}
.menu {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: center;
  
}
.menu_block {
  background-color: rgb(75, 75, 75);

  text-align: center;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 50%;
}
.newspicture {

}
.desc {
  
}
.media_creation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}
.record {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.register {
  margin: 5px;

}
.create_button{
  margin: 10px;
}
.accept_button{
  margin: 10px;
  background-color: rgb(33, 199, 33);
}
.decline_button{
  margin: 10px;
  background-color: rgb(201, 63, 29);

}
textarea {
  resize: none;

}